body {
    font-family: "Courier New", "Trebuchet MS", Arial, sans-serif;
    font-size: 14px;
    background-color: black; /* Le fond de la page sera noir */
    color: white; /* Le texte de la page sera blanc */
    padding: 12px;
}

em {
    color: #F52572;
    font-style: normal;
}

.string {
    color: #E6DB74;
}

.type {
    color: #65D8EC;
    font-style: italic;
}

.argument {
    color: #926FD2;
}

.indent {
    margin-left: 30px;
}

/* infobulle. */
.type span, em span, .autre span, .string span {
    display: none; /* On cache l'infobulle. */
}

.type:hover span, em:hover span, .autre:hover span, .string:hover span {
   display: inline; /* On affiche l'infobulle. */
   position: relative;
   white-space: nowrap; /* pas de retour a la ligne */
   left: 4px;
   background: white;
   color: black;
   padding: 1px;
   border-radius: 3px;
}
